@model IEnumerable<Student>
@foreach (var student in Model) {
    <div class="border border-1 border-dark m-2 p-2 rounded-3 bg-secondary text-light">
        <h6>@student.FirstName @student.LastName</h6>
        <p>Cislo: @student.Id</p>
        <p>@student.DateOfBirth.ToShortDateString()</p>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id=@student.Id>Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id=@student.Id>Delete</a>
    </div>
}
    <div class="justify-content-center m-2">
        <a class="btn btn-primary" asp-action="Create">Create</a>
    </div>
